<section>Announcement Bar</section>

{%schema%}
    {
        "name": "Announcement Bar",
        "settings": [],
        "presets": [
            {
                "name": "Announcement Bar"

            }
        ]
    }
{%endschema%}