{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% if section.settings['show-announcement'] %}
  <section>
    <h1>{{ section.settings['announcement-text'] }}</h1>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show-announcement",
        "label": "Show Announcement Bar",
        "default": true
      }, {
        "type": "text",
        "id": "announcement-text",
        "label": "Announcement Text"
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar"

      }
    ]
  }
{% endschema %}