{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% if section.settings['show-announcement'] %}
  <section class="announcement-bar text-{{ section.settings['text-alignment'] }}">
    <h1>{{ section.settings['announcement-text'] }}</h1>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show-announcement",
        "label": "Show Announcement Bar",
        "default": true
      }, {
        "type": "text",
        "id": "announcement-text",
        "label": "Announcement Text"
      }, {
        "type": "select",
        "id": "text-alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar"
      }
    ]
  }
{% endschema %}