{{ 'hero.css' | asset_url | stylesheet_tag }}
<script src="{{ 'hero.js' | asset_url }}" defer="defer"></script>

<nav>
  {%  render 'hero' %}
</nav>

{% schema %}
  {
    "name": "Hero",
    "settings": [],
    "presets": [
        {
            "name": "Hero"
        }
    ]
  }
{% endschema %}